.add-contact-title, .add-contact-name {
    color: #798086;
}

.add-contact-login-form {
    max-width: 300px;
    display: flex;
}

.add-contact-search-btn {
    margin-left: 10px;
}

.add-contact-add-btn {
    display: flex;
}