.profile-container {
    background-color: #1890ff;
    padding: 30px;
    display: flex;
    min-height: 350px;
    max-height: 350px;
    flex: 1;
    flex-direction: column;
}

h1, h2, h3 {
    color: white;
}


.profile-header {
    display: flex;
    justify-content: space-between;
}

.profile-logout {
    cursor: pointer;
}

.profile-logout:hover {
    color: #dbeeff;
    transition: 0.3s;
}

.profile-title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    cursor: default;
}

.profile-welcome {
    font-size: 25px;
    font-weight: 400;
}
.profile-balance {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 0px;
}
.profile-limit {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
}
.profile-title:hover {
    color: #dbeeff;
    transition: 0.3s;
}


.profile-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-action {
    display: flex;
    justify-content: center;
}

.profile-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 0px 10px;
    margin-bottom: 70px;
    outline: none;
}

.profile-button:hover {
    color: #dbeeff;
    border-color: #dbeeff;
    transition: 0.3s;
    
}