.contact-header {
    display: flex;
    justify-content: space-between;
}

.contact-header-title, .contact-empty {
    color: #798086;
}


.contact-title {
    color: #1890ff;
}

.contact-list {
    margin-top: 15px;
}

.contact-item {
    display: flex;
    justify-content: space-between;
}
