.contact-header {
    display: flex;
    justify-content: space-between;
}

.contact-header-title, .contact-empty {
    color: #798086;
}


.contact-title {
    margin: 0px;
    color: #1890ff;
}

.contact-list {
    margin-top: 15px;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaafb350;
    align-items: center;
    padding: 15px 5px;
}
